language: php

php:
   - 5.6.2

env:
  - SYMFONY_VERSION=3.2.*

before_script:
  - composer require symfony/http-foundation:${SYMFONY_VERSION}

script: phpunit --coverage-text

notifications:
  email:
    - nabysayna@gmail.com
