services:
#    ws_server.example:
#        class: WSServerBundle\Example
#        arguments: ["@service_id", "plain_value", "%parameter%"]
      test_service:
        class: WSServerBundle\Services\HelloService

      test_server_authentification:
        class: WSServerBundle\Services\AuthService
        arguments:
          - "@doctrine.orm.default_entity_manager"

      test_server_postcash:
        class: WSServerBundle\Services\PostCashService
        arguments:
          - "@doctrine.orm.default_entity_manager"
          - "@ws_api_client_postcash"

      test_server_expressocash:
        class: WSServerBundle\Services\ExpressoCashService
        arguments:
          - "@doctrine.orm.default_entity_manager"

      ws_api_service_tnt:
        class: WSServerBundle\Services\TntService
        arguments:
          - "@doctrine.orm.default_entity_manager"
          - "@ws_api_client_tnt"





