services:
#    ws_server.example:
#        class: WSServerBundle\Example
#        arguments: ["@service_id", "plain_value", "%parameter%"]


############################################
############################################
#     Local Service
      test_service:
        class: WSServerBundle\Services\HelloService

      test_server_authentification:
        class: WSServerBundle\Services\AuthService
        arguments:
          - "@doctrine.orm.default_entity_manager"
          - "@mailer"

      test_server_ecommerce:
        class: WSServerBundle\Services\EcommerceService
        arguments:
          - "@doctrine.orm.default_entity_manager"

      test_server_adminpdv:
        class: WSServerBundle\Services\AdminpdvService
        arguments:
          - "@doctrine.orm.default_entity_manager"

      test_server_adminmultipdv:
        class: WSServerBundle\Services\AdminmultipdvService
        arguments:
          - "@doctrine.orm.default_entity_manager"

      test_server_maps:
        class: WSServerBundle\Services\MapsService
        arguments:
          - "@doctrine.orm.default_entity_manager"

      test_server_compta_pdv:
        class: WSServerBundle\Services\ComptapdvService
        arguments:
          - "@doctrine.orm.default_entity_manager"

      test_server_commercial:
        class: WSServerBundle\Services\CommercialService
        arguments:
          - "@doctrine.orm.default_entity_manager"


      test_server_crm:
        class: WSServerBundle\Services\CrmService
        arguments:
          - "@doctrine.orm.default_entity_manager"

      test_server_gestionreporting:
        class: WSServerBundle\Services\GestionreportingService
        arguments:
          - "@doctrine.orm.default_entity_manager"

      test_server_outsitecommerce:
        class: WSServerBundle\Services\OutsitEcommerceService
        arguments:
          - "@doctrine.orm.default_entity_manager"
          - "@test_server_mailing"

          
      test_server_mailing:
        class: WSServerBundle\Services\MailingService
        arguments:
          - "@mailer"



#########################################################
#########################################################
#     DAO Services
      adminpdv_dao_service:
        class: WSServerBundle\Services\DAOServices\AdminpdvDAOService
        arguments:
          - "@doctrine.orm.default_entity_manager"





#########################################################
#########################################################
#     API Service Partenaire
      test_server_postcash:
        class: WSServerBundle\Services\PostCashService
        arguments:
          - "@doctrine.orm.default_entity_manager"
          - "@ws_api_client_postcash"

      test_server_expressocash:
        class: WSServerBundle\Services\ExpressoCashService
        arguments:
          - "@doctrine.orm.default_entity_manager"
          - "@ws_api_client_expressocash"

      test_server_jonijoni:
        class: WSServerBundle\Services\JoniJoniService
        arguments:
          - "@doctrine.orm.default_entity_manager"
          - "@ws_api_client_jonijoni"

      ws_api_service_tnt:
        class: WSServerBundle\Services\TntService
        arguments:
          - "@doctrine.orm.default_entity_manager"
          - "@ws_api_client_tnt"

      